.article_site {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.article_filters {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 490px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
}

.article_input {
    margin-right: 20px;
    min-width: 1px;
}

.article_headers {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width: 37%;
    min-width: 425px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.article_container {
    background-color: white;
    border-radius: 10px;
    width: 40%;
    min-width: 490px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.article_container:hover {
    transition: .1s;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.article_first {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.article_first p {
    pointer-events: none;
    color: black;
}

.article_text {
    text-align: center;
}

.article_hidden {
    display: none;
}

.article_basement {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    min-width: 490px;
    margin-bottom: 20px;
}

.article_page_select {
    outline: none;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #666666;
}