@{
    dynamic version = Trend2.TgApplication.Properties.Version.Info;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index_style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit_form_style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/article_style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home_style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trend2.TgApplication.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
</head>
<body>
    <div class="tg_main">
        <div class="tg_header">        
            <a href="/"><h1>TELEGRAM COLLECTOR</h1></a>
        </div>
        <div class="tg_basement">
            <span>Ревизия: @version.ChangeSet.ToString()</span>
            <span class="tg_basement_date">Дата: @version.Date.ToString()</span>
        </div>
        @RenderBody()      
    </div>   
</body>
</html>
